<!DOCTYPE html>
<html>
<title>ANALYSIS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&Jua&family=Bowlby+One+SC&family=Holtwood+One+SC&family=Montserrat:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.3.0.min.js'></script>

<style>

  html,body, h1, h2, h3 {font-family: 'Montserrat', sans-serif; }
  p,h4 {font-family: 'Gowun Dodum', sans-serif; font-size:1.6vw;}
  #text {font-family: 'Holtwood One SC', serif;}

  h1 {font-size:3.2vw;}
  h2 {font-size:2.7vw;}
  h3 {font-size:2.3vw;}
  h4 {font-size:2vw;}
  p, select, button {font-size:1.8vw;}

</style>

<body class="w3-white">
<div class="w3-top">
  <div class="w3-bar w3-white w3-card w3-medium" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide"style="text-decoration:none">EASTER EGG</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-medium" onclick="w3_open()"><i class="fa fa-bars">  MENU</i></a>
      <a href="#overview" class="w3-bar-item w3-button"><i class="fa fa-users fa-fw"></i>  Overview</a>
      <a href="#freeapp" class="w3-bar-item w3-button"><i class="fa fa-heart fa-fw"></i>  Free App</a>
      <a href="#paidapp" class="w3-bar-item w3-button"><i class="fa fa-dollar fa-fw"></i>  Paid App</a>
      <a href="#rawdata" class="w3-bar-item w3-button"><i class="fa fa-bar-chart fa-fw"></i>  Raw Data</a>
    </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
<!--    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">-->
<!--      <i class="fa fa-bars"></i>-->
<!--    </a>-->
 </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left" style="display:none; width: auto;" id="mySidebar">
  <div class="w3-container">
    <h2><i class="fa fa-globe"></i><b> {{ nation }}</b></h2>
    <form name="search" action="/analysis" method="GET">
        <div class="w3-input-group w3-hover-opacity-off " style="display:inline-flex; flex-direction: row;">
            <select name="nation">
                <option value="" disabled selected hidden>Choose Country</option>
                <option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Belgium">Belgium</option><option value="Brazil">Brazil</option>
                <option value="Chile">Chile</option><option value="Croatia">Croatia</option><option value="Czech_Republic">Czech_Republic</option><option value="Finland">Finland</option>
                <option value="France">France</option><option value="Germany">Germany</option><option value="Egypt">Egypt</option><option value="Greece">Greece</option>
                <option value="Hong_Kong">Hong_Kong</option><option value="Hungary">Hungary</option><option value="India">India</option><option value="Indonesia">Indonesia</option>
                <option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Israel">Israel</option><option value="Italy">Italy</option>
                <option value="Japan">Japan</option><option value="Malaysia">Malaysia</option><option value="Mexico">Mexico</option><option value="Netherlands">Netherlands</option>
                <option value="New_Zealand">New_Zealand</option><option value="Philippines">Philippines</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option>
                <option value="Russia">Russia</option><option value="South_Korea">South_Korea</option><option value="Spain">Spain</option><option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option><option value="Taiwan">Taiwan</option><option value="Thailand">Thailand</option><option value="Turkey">Turkey</option>
                <option value="Ukraine">Ukraine</option><option value="United_Kingdom">United_Kingdom</option><option value="Uruguay">Uruguay</option><option value="Vietnam">Vietnam</option>
            </select>
          <button class="w3-button w3-white w3-border w3-border-black w3-hover-teal" onclick="location='/analysis'">Search</button>
        </div>
      </form>
  </div>
  <hr>
  <div class="w3-bar-block" >
    <a href="#" class="w3-bar-item w3-button w3-hide-large w3-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close</a>
    <a href="/" class="w3-bar-item w3-button"><i class="fa fa-home fa-fw"></i>  HOME</a>
    <a href="/info" class="w3-bar-item w3-button"><i class="fa fa-smile-o fa-fw"></i>  INFO</a>
    <hr>
    <a href="#overview" class="w3-bar-item w3-button"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#freeapp" class="w3-bar-item w3-button"><i class="fa fa-heart fa-fw"></i>  Free App</a>
    <a href="#paidapp" class="w3-bar-item w3-button"><i class="fa fa-dollar fa-fw"></i>  Paid App</a>
    <a href="#rawdata" class="w3-bar-item w3-button"><i class="fa fa-bar-chart fa-fw"></i>  Raw Data</a>
  </div>
</nav>


<!-- !PAGE CONTENT! -->
<div class="w3-main w3-light-grey w3-padding-64">

  <!-- Overview -->
  <div class="w3-container" id="overview" >
    <header class="w3-container" style="padding-top:2%">
      <h1><b><i class="fa fa-users"></i>  Overview</b></h1>
    </header>
    <!-- Overview part.1 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">Information</h1>
        <p>EasterEgg는 모바일 애플리케이션의 데이터를 취합하여 이용자들로 하여금 특정 국가를 선택하면 관련 국가의 App Store와 Google Play Store의 100위 순위에 리스트된 국가의 데이터를 불러와 시각화(통계치) 분석자료를 제공하는 서비스를 제공하고 있습니다</p>
        <p>애플리케이션 시장은 크게 무료앱과 유료앱으로 나뉘어지며, 이는 애플과 구글이 분류하는 정책에 따라 결정됩니다</p>
        <p>우리는 본 서비스를 통해 예비 개발자들이 사전 시장조사시 시장파악과 관련정보 획득에 도움을 줄 뿐만 아니라 마케팅, 연구자 등 앱 시장 파악에 기여하기를 기대합니다</p>
        <p></p>
        <p>애플스토어와 구글스토어의 일반앱과 게임앱을 나타낸 시각화 자료입니다</p>
        <p>맨 위부터 apple store(free), apple store(paid), google play(free), google play(paid) 순서 입니다<p>
        <!-- Image explanation -->
        <div id='overview_stacked'style="width:90%;max-width:700px"></div>
          <script>
                var trace1 = {
          x: {{ x_game | safe}},
          y: {{ y_group_ov | safe}},
          name: 'Games',
          orientation: 'h',
          marker: {
            color: 'rgba(55,128,191,0.6)',
            width: 1
          },
          type: 'bar'
        };

        var trace2 = {
          x: {{ x_app | safe}},
          y: {{ y_group_ov | safe}},
          name: 'Applications',
          orientation: 'h',
          type: 'bar',
          marker: {
            color: 'rgba(255,153,51,0.6)',
            width: 1
          }
        };

        var data = [trace1, trace2];

        var layout = {
          title: 'OverView of whole market by {{ nation }}',
          barmode: 'stack'
        };

        Plotly.newPlot('overview_stacked', data, layout);
          </script>
      </div>
    </div>
  </div>

  <!-- Free App -->
  <div class="w3-container" id="freeapp">
    <header class="w3-container" style="padding-top:5vw">
      <h1><b><i class="fa fa-heart"></i>  Free App</b></h1>
    </header>
    <!-- Free App part.1 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">Information</h1>
        <p>카테고리는 Games, Applications, Kids의 대분류를 가지며, 무료 앱 페이지는 Games, Kids의 비중이 적기 때문에 Applications에 대해 분석합니다</p>
        <p>Applications는 [Life, Leisure, Work, Edu]의 중분류를 가지며 중분류의 소 카테고리 분류는아래와 같습니다 </p>
        <p>1.Life : 'Food and Drink (Applications)', 'Health and Fitness (Applications)','Lifestyle (Applications)', 'Weather (Applications)', 'Medical (Applications)', 'Navigation (Applications)','Finance (Applications)'</p>
        <p>2.Leisure : 'Entertainment (Applications)', 'Shopping (Applications)', 'Social Networking (Applications)', 'Sports (Applications)', 'Travel (Applications)', 'Music (Applications)', 'Photo and Video (Applications)'</p>
        <p>3.Work : ['Business (Applications)', 'Developer Tools (Applications)', 'Graphics & Design (Applications)', 'Productivity (Applications)'</p>
        <p>4.Edu : 'Books (Applications)', 'Catalogs (Applications)', 'Education (Applications)', 'Reference (Applications)',' Magazines and Newspapers (Applications)', 'News (Applications)', 'Utilities (Applications)'</p>
        <p></p>
        <!-- Image explanation -->

      </div>
    </div>
    <!-- Free App part.2 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">Apple store</h1>
        <p>무료 앱 분석 서비스는 위의 카테고리를 기준으로 애플의 시장개요에 대한 중분류에 따른 overview를 제공하며, 내용은 아래와 같습니다</p>
        <!-- Image explanation -->
        <div id="if_Plot" style="width:90%;max-width:700px"></div>
        <script>
            var xArray = {{ x_group_f | safe }};
            var yArray = {{ y_value_if | safe }};

            var layout = {title: "{{ nation }} apple store(free)"};

            var data = [{labels:xArray, values:yArray, type:"pie"}];

            Plotly.newPlot("if_Plot", data, layout);
      </script>

        <p>다음, 애플 무료의 소분류의 비중을 살펴볼 수 있도록 detailview를 제공하며, 내용은 아래와 같습니다</p>
        <div id='if_detail_sun' style="width:90%;max-width:700px"></div>
        <script>
                    var data = [{
          type: "sunburst",
          labels: {{ labels_if | safe }},
          parents: {{ parents_if | safe }},
          values:  {{ values_if | safe }},
          outsidetextfont: {size: 30, color: "#377eb8"},
          leaf: {opacity: 0.4},
          marker: {line: {width: 2}},
        }];

        var layout = {
          margin: {l: 0, r: 0, b: 0, t: 0},
          width: 500,
          height: 500
        };
        Plotly.newPlot('if_detail_sun', data, layout);
      </script>
        </div>
      </div>
    <!-- Free App part.3 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">google play</h1>
        <p>무료 앱 분석 서비스는 위의 카테고리를 기준으로 구글의 시장개요에 대한 중분류에 따른 overview를 제공하며, 내용은 아래와 같습니다</p>
        <!-- Image explanation -->
        <div id="gpf_Plot" style="width:90%;max-width:700px"></div>
        <script>
            var xArray = {{ x_group_f | safe }};
            var yArray = {{ y_value | safe }};

            var layout = {title: "{{ nation }} google play store(free)"};

            var data = [{labels:xArray, values:yArray, type:"pie"}];

            Plotly.newPlot("gpf_Plot", data, layout);
          </script>

        <p>다음, 구글 무료의 소분류의 비중을 살펴볼 수 있도록 detailview를 제공하며, 내용은 아래와 같습니다</p>
        <div id='gpf_detail_sun' style="width:90%;max-width:700px"></div>
        <script>
                    var data = [{
          type: "sunburst",
          labels: {{ labels_gpf | safe }},
          parents: {{ parents_gpf | safe }},
          values:  {{ values_gpf | safe }},
          outsidetextfont: {size: 30, color: "#377eb8"},
          leaf: {opacity: 0.4},
          marker: {line: {width: 2}},
        }];

        var layout = {
          margin: {l: 0, r: 0, b: 0, t: 0},
          width: 500,
          height: 500
        };
        Plotly.newPlot('gpf_detail_sun', data, layout);
      </script>
      </div>
    </div>
  </div>

  <!-- Paid App -->
  <div class="w3-container" id="paidapp" >
    <header class="w3-container" style="padding-top:5vw">
      <h1><b><i class="fa fa-dollar"></i>  Paid App</b></h1>
    </header>
    <!-- Paid App part.1 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">Information</h1>
        <p>카테고리는 Games, Applications, Kids의 대분류를 가지며, 우리는 유료 앱 순위에 랭크된 앱들의 대부분은 Games임을 확인할 수 있었습니다</p>
        <p>따라서, 본 프로젝트에서는 유료앱의 타 카테고리 간 비교분석이 유의미하지 않을 것이라고 판단되어 유료 앱 중 '게임' 카테고리에 한정하여 게임 장르(롤플레잉, 아케이드, etc)의 선호도 비중을 시각화하여 분포와 선호도를 파악합니다</p>
        <p>Games에 대한 소 카테고리 분류는 아래와 같습니다</p>
        <p>Games : ‘Action (Games)’, ‘Adventure (Games)’, ‘Board (Games)’, ‘Card (Games)’, ‘Casino (Games)’, ‘Casual (Games)’, ‘Dice (Games)’, ‘Education (Games)’, ‘Family (Games)’, ‘Kids (Games)’, ‘Music (Games)’, ‘Puzzle (Games)’, ‘Racing (Games)’, ‘Role (Games)’ ‘Playing (Games)’, ‘Simulation (Games)’, ‘Sports (Games)’, ‘Strategy (Games)’, ‘Trivia (Games)’, ‘Word (Games)’</p>
        <p>유료 앱 분석 서비스는 위의 카테고리를 기준으로 구글 시장개요에 따른 detail view를 제공하며, 내용은 아래와 같습니다. 애플은 게임에 대한 세부 카테고리를 제공하지 않으므로, 게임에 대한 세부 카테고리를 제공하는 구글순위만을 분석해 제공합니다</p>
        <!-- Image explanation -->
        <div id='paid_gpp_sun' style="width:90%;max-width:700px"></div>
          <script>
                        var data = [{
              type: "sunburst",
              labels: {{ labels_sun | safe }},
              parents: {{ parents_sun | safe }},
              values:  {{ values_sun | safe }},
              outsidetextfont: {size: 30, color: "#377eb8"},
              leaf: {opacity: 0.4},
              marker: {line: {width: 2}},
            }];

            var layout = {
              margin: {l: 0, r: 0, b: 0, t: 0},
              width: 500,
              height: 500
            };
            Plotly.newPlot('paid_gpp_sun', data, layout);
          </script>
      </div>
    </div>

  </div>

  <!-- Raw Data -->
  <div class="w3-container" id="rawdata" >
    <header class="w3-container" style="padding-top:5vw">
      <h1><b><i class="fa fa-bar-chart"></i>  Raw Data</b></h1>
    </header>
    <!-- Raw Data part.1 -->
    <!-- Text explanation -->
    <div class="w3-row w3-padding-16">
      <div class="w3-container">
        <h1 class="w3-text-teal">Heading</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <!-- Image explanation -->
        <div></div>
          <script>
          </script>
      </div>
    </div>

</div>


  <!-- Footer -->
  <footer class="w3-container w3-grey w3-center" style="padding:1vw;">
    <a href="#overview" class="w3-button w3-grey" style="font-size:large;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  </footer>



<script>
  // Get the Sidebar
  var mySidebar = document.getElementById("mySidebar");

  // Get the DIV with overlay effect
  var overlayBg = document.getElementById("myOverlay");

  // Toggle between showing and hiding the sidebar, and add overlay effect
  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }

  // Close the sidebar with the close button
  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }

</script>

</body>
</html>