<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com -->
  <title>Easter Egg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="static/css/home_copy.css?after">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Noto Sans KR', sans-serif;
      }
  </style>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">EasterEgg</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home">HOME</a></li>
        <li><a href="#services">SERVICE</a></li>
        <li><a href="#portfolio">PORTFOLIO</a></li>
        <li><a href="#team">TEAM</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>


</body>

<div id="home" class="jumbotron text-center">
  <h1>Easter Egg</h1>
  <h3 style="color: white">국가별 모바일 애플리케이션 이용 현황 분석서비스</h3>
  <form>
    <div class="input-group">
      <input type="nation" class="form-control" size="50" placeholder="국가 이름를 입력하세요" required>
      <div class="input-group-btn">
        <button style="background-color:#0277BD; border:none" type="button" class="btn btn-danger" onclick="location='/analysis'">Search</button>
      </div>
    </div>
  </form>
</div>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center" style="color:black; background-color:white;">
  <h2>SERVICES</h2>
  <h3>What we offer</h3>
  <br>
  <div class="row" style="color:black; background-color:white;">
    <div class="col-sm-4">
      <a href="/free">
        <span class="glyphicon glyphicon-gift logo-small"></span>
        <h3 style="color: black;">FREE</h3>
      </a>
    </div>
    <div class="col-sm-4" >
      <a href="/paid">
        <span class="glyphicon glyphicon-usd logo-small"></span>
        <h3 style="color: black;">PAID</h3>
      </a>
    </div>
    <div class="col-sm-4">
      <a href="/ml">
        <span class="glyphicon glyphicon-signal logo-small"></span>
        <h3 style="color: black;">MACHINE LEARNING</h3>
      </a>
    </div>
  </div>
</div>
<br><br>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey" style="background-color:black;">
  <h2 style="color:white;">Portfolio</h2><br>
  <h3 style="color:white;">What we have created</h3>
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <div class="item active">
        <a href="/analysis">
        <h4 style="color:white;">Naver Stock Scarping</h4>
        </a>
      </div>
      <div class="item">
        <a href="/analysis">
        <h4 style="color:white;">Daum Economics Scraping</h4>
        </a>
      </div>
      <div class="item">
        <a href="/analysis">
        <h4 style="color:white;">???</h4>
        </a>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<!-- Container (Portfolio Section) -->
<div id="team" class="container-fluid text-center">
  <h2 style="color:black;">TEAM</h2>
     <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <p><strong>임태혁</strong></p>
            <p>team leader</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p><strong>서미오</strong></p>
            <p>team member</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p><strong>최솔비</strong></p>
            <p>team member</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p><strong>김정휴</strong></p>
            <p>team member</p>
          </div>
        </div>
     </div>
</div>


<!-- Container (Contact Section) -->
<!-- <div class="container-fluid text-center" data-aos="fade-up" style="background-color:black; color:white;">-->
<div id="contact" class="container-fluid text-center" style="background-color:black;" >
  <h2 style="color:white;">CONTACT</h2>
   <div class="row">
     <div class="col-lg-5 d-flex align-items-stretch">
       <div class="info">
         <div class="address">
           <h4>Location: Multi Campus</h4>
         </div>
         <div class="phone">
           <h4>Call: 1544-9001</h4>
         </div>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.1925736417356!2d127.04758731530993!3d37.50337597980975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca512b1b5e77b%3A0x90048774d24a2a4f!2z66mA7Yuw7Lqg7Y287IqkIOyEoOumiQ!5e0!3m2!1sko!2skr!4v1627017438551!5m2!1sko!2skr" width="300" height="300" style="border:0; center;" allowfullscreen="" loading="lazy"></iframe>
       </div>
     </div>
   </div>
 </div>

<!-- Image of location/map -->

<footer class="container5" style="color:white; background-color:black;">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
<!--  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>-->
</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>