<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <title>EASTER EGG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&Jua&family=Bowlby+One+SC&family=Holtwood+One+SC&family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        body, h1, h2, span {font-family: 'Holtwood One SC', serif;}
        a,h3 {font-family: 'Montserrat', sans-serif; }
        p,h4 {font-family: 'Gowun Dodum', sans-serif; }

        h1 {font-size:3.2vw;}
        h2 {font-size:2.7vw;}
        h3 {font-size:2.3vw;}
        h4,p {font-size:2vw;}


        body, html {
          height: 100%;
          line-height: 1.8;
          color: #eba13d;
          background-color: #235c47;
        }

        /* Full height image header */
        .bgimg-1 {
          background-position: center;
          background-size: cover;
          background-image: url("static/images/castle.jpg");
          min-height: 100%;
        }
        .w3-bar .w3-button { padding: 1.2vw; }
        .w3-large {font-size: 2rem!important;}
        a:hover {color:blue;}


    </style>


    <body>
    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-card" id="myNavbar" style="font-size:1.3vw;">
        <a href="/home" class="w3-bar-item w3-button w3-wide">EASTER EGG</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small" >
          <a href="/home" class="w3-bar-item w3-button">HOME</a>
          <a href="#service" class="w3-bar-item w3-button"><i class="fa fa-pencil"></i>  SERVICE  </a>
          <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i>  WORK  </a>
          <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i>  TEAM  </a>
          <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>  CONTACT  </a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
          <i class="fa fa-bars fa-2x" style="padding:1vw 2vw"></i>
        </a>
      </div>
    </div>
    <!-- Sidebar on small screens -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-right w3-padding-16"  style="display:none; width:20vw;right:0; color:black;font-size:medium;" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding-12">Close &times;</a>
      <a href="/home" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>
      <a href="#service" onclick="w3_close()" class="w3-bar-item w3-button">SERVICE</a>
      <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
      <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
    </nav>


    <!-- Service Section -->
    <div class="w3-container w3-large" style="padding:14vw 8vw;" id="service">
      <h1 class="w3-center">ABOUT SERVICES</h1>
      <h2 class="w3-center">What we offer</h2>
      <div class="w3-row-padding w3-center" style="margin-top:12vw">
        <!-- FREE APP Section -->
        <div class="w3-half">
            <!-- Trigger the modal with a icon -->
          <i class="fa fa-heart w3-jumbo" onclick="document.getElementById('id01').style.display='block'" data-toggle="modal" data-target="#myModal"></i>
          <h2>FREE APP</h2>
          <h4>Analysis service for free mobile application data</h4>
            <!-- FREE APP Modal -->
            <div id="id01" class="w3-modal">
             <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-text-black">
                <header class="w3-container w3-grey w3-text-black">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn w3-padding-top" style="float: right;">&times;</span>
                    <h2>FREE APP</h2></header>
                 <div class="w3-container" style="text-align:center; max-width:fit-content;">
                     <h4><b>무료 모바일 애플리케이션 데이터에 대한 분석 서비스</b></h4>
                     <p>EasterEgg는 모바일 애플리케이션의 데이터를 취합하여 이용자들로 하여금 특정 국가를 선택하면 관련 국가의 App Store와 Google Play Store의 100위 순위에 리스트된 국가의 데이터를 불러와 시각화(통계치) 분석자료를 제공하는 서비스를 제공하고 있습니다.</p>
                     <p>본 페이지는 무료 애플리케이션 시장분석 서비스에 대한 내용을 설명하는 페이지입니다. 애플리케이션 시장은 크게 무료앱과 유료앱으로 나뉘어지며, 이는 애플과 구글이 분류하는 정책에 따라 결정됩니다</p>
                     <p>우리는 본 서비스를 통해 예비 개발자들이 사전 시장조사시 시장파악과 관련정보 획득에 도움을 줄 뿐만 아니라 마케팅, 연구자 등 앱 시장 파악에 기여하기를 기대합니다</p>
                     <p>카테고리는 Games, Applications, Kids의 대분류를 가지며, 무료 앱 페이지는 Games, Kids의 비중이 적기 때문에 Applications에 대해 분석합니다</p>
                     <p>Applications는 [Life, Leisure, Work, Edu]의 중분류를 가지며 중분류의 소 카테고리 분류는아래와 같습니다 </p>
                     <p>1. Life : 'Food and Drink (Applications)', 'Health and Fitness (Applications)','Lifestyle (Applications)', 'Weather (Applications)', 'Medical (Applications)', 'Navigation (Applications)','Finance (Applications)', 'Food & Drink (Applications)', 'Social (Applications)', 'Communication (Applications)', 'Maps & Navigation (Applications)'</p>
                     <p>2. Leisure : 'Entertainment (Applications)', 'Shopping (Applications)', 'Social Networking (Applications)', 'Sports (Applications)', 'Travel (Applications)', 'Music (Applications)', 'Photo and Video (Applications)', , 'Music & Audio (Applications)', 'Books & Reference (Applications)', 'Art & Design (Applications)'</p>
                     <p>3. Work : 'Business (Applications)', 'Developer Tools (Applications)', 'Graphics & Design (Applications)', 'Productivity (Applications)', 'Video Players & Editors (Applications)'</p>
                     <p>4. Edu : 'Books (Applications)', 'Catalogs (Applications)', 'Education (Applications)', 'Reference (Applications)',' Magazines and Newspapers (Applications)', 'News (Applications)', 'Utilities (Applications)'</p>
                     <p>무료 앱 분석 서비스는 위의 카테고리를 기준으로 애플과 구글에 따라 각 시장개요에 대한 중분류에 따른 overview를 제공하며, 내용은 아래와 같습니다</p>
                     <img src="./static/images/free_overview.png" style="width:90%">
                     <p>다음, 소분류의 비중을 살펴볼 수 있도록 detailview를 제공하며, 내용은 아래와 같습니다. 다음, 활용한 raw data를 게재하여 이용자가 손쉽게 접근하여 가공, 수정할 수 있도록하였습니다</p>
                 </div>
                 <div class="w3-container w3-grey w3-padding">
                     <button class="w3-btn w3-right w3-light-grey w3-border" onclick="document.getElementById('id01').style.display='none'" style="font-size: small;">Close</button>
                 </div>
             </div>
           </div>
        </div>
            <!-- PAID APP Section -->
            <div class="w3-half">
                <!-- Trigger the modal with a icon -->
                <i class="fa fa-dollar w3-margin-bottom w3-jumbo" onclick="document.getElementById('id02').style.display='block'" data-toggle="modal" data-target="#myModal"></i>
                <h2>PAID APP</h2>
                <h4>Analysis service for paid mobile application data</h4>
                <!-- PAID APP Modal -->
                 <div id="id02" class="w3-modal">
                 <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-text-black">
                    <header class="w3-container w3-grey w3-text-black">
                        <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn w3-padding-top" style="float: right;">&times;</span>
                        <h2>PAID APP</h2>
                    </header>
                        <!-- Modal content-->
                        <div class="w3-container w3-animate-zoom" style="text-align:center; max-width:fit-content;">
                            <h4><b>유료 모바일 애플리케이션 데이터에 대한 분석 서비스</b></h4>
                            <p>EasterEgg는 모바일 애플리케이션의 데이터를 취합하여 이용자들로 하여금 특정 국가를 선택하면 관련 국가의 App Store와 Google Play Store의 100위 순위에 리스트된 국가의 데이터를 불러와 시각화(통계치) 분석자료를 제공하는 서비스를 제공하고 있습니다</p>
                            <p>본 페이지는 유료 애플리케이션 시장분석 서비스에 대한 내용을 설명하는 페이지입니다</p>
                            <p>애플리케이션 시장은 크게 무료앱과 유료앱으로 나뉘어지며, 이는 애플과 구글이 분류하는 정책에 따라 결정됩니다</p>
                            <p>우리는 본 서비스를 통해 예비 개발자들이 사전 시장조사시 시장파악과 관련정보 획득에 도움을 줄 뿐만 아니라 마케팅, 연구자 등 앱 시장 파악에 기여하기를 기대합니다</p>
                            <p>카테고리는 Games, Applications, Kids의 대분류를 가지며, 우리는 유료 앱 순위에 랭크된 앱들의 대부분은 Games임을 확인할 수 있었습니다</p>
                            <p>따라서, 본 프로젝트에서는 유료앱의 타 카테고리 간 비교분석이 유의미하지 않을 것이라고 판단되어 유료 앱 중 '게임' 카테고리에 한정하여 게임 장르(롤플레잉, 아케이드, etc)의 선호도 비중을 시각화하여 분포와 선호도를 파악합니다</p>
                            <p>Games에 대한 소 카테고리 분류는 아래와 같습니다</p>
                            <p>Games : ‘Action (Games)’, ‘Adventure (Games)’, ‘Board (Games)’, ‘Card (Games)’, ‘Casino (Games)’, ‘Casual (Games)’, ‘Dice (Games)’, ‘Education (Games)’, ‘Family (Games)’, ‘Kids (Games)’, ‘Music (Games)’, ‘Puzzle (Games)’, ‘Racing (Games)’, ‘Role (Games)’ ‘Playing (Games)’, ‘Simulation (Games)’, ‘Sports (Games)’, ‘Strategy (Games)’, ‘Trivia (Games)’, ‘Word (Games)’, 'Arcade (Games)', 'Educational (Games)', 'Role Playing (Games)'</p>
                            <p>본 서비스는 Games의 소 카테고리 분류에 따라 비중이 얼마나 차지하고 있는지 이용자가 살펴볼 수 있도록 detailview를 제공하며, 내용은 아래와 같습니다</p>
                            <img src="./static/images/paid_detailview.png" style="width:90%">
                            <p>다음, 활용한 raw data를 게재하여 이용자가 손쉽게 접근하여 가공, 수정할 수 있도록하였습니다</p>
                        </div>
                        <div class="w3-container w3-grey w3-padding">
                             <button class="w3-btn w3-right w3-light-grey w3-border" onclick="document.getElementById('id02').style.display='none'" style="font-size: small;">Close</button>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
      </div>


    <!-- Work Section -->
    <div class="w3-container w3-light-grey w3-large" style="padding:12vw 8vw;" id="work">
          <h1 class="w3-center">Our Work</h1>
          <h2 class="w3-center">What we have created</h2>
          <div class="w3-row-padding w3-center" style="margin-top:12vw">
            <!-- Machine Learning -->
            <div class="w3-half">
              <a href="/analysis" style="text-decoration:none">
                <i class="fa fa-line-chart w3-margin-bottom w3-jumbo"></i>
                <h2>Machine Learning</h2>
                <h4>Identify the factors that affect app rating and analyze the correlation between factors.</h4>
              </a>
            </div>
            <!-- Naver Stock Scraping -->
            <div class="w3-half">
                <!-- Trigger the modal with a icon -->
                <i class="fa fa-search w3-margin-bottom w3-jumbo" onclick="document.getElementById('id03').style.display='block'" data-toggle="modal" data-target="#myModal"></i>
                <h2>Naver Stock Scraping</h2>
                <h4>Collect all text data written on webpages using Python and BeautifulSoup</h4>
                <!-- Naver Stock Scraping Modal -->
                <div id="id03" class="w3-modal">
                    <div class="w3-modal-content w3-card-8 w3-animate-zoom w3-text-black">
                    <header class="w3-container w3-grey w3-text-black">
                        <span onclick="document.getElementById('id03').style.display='none'" class="w3-closebtn w3-padding-top" style="float: right;">&times;</span>
                        <h2>Naver Stock Scraping</h2>
                    </header>
                        <!-- Modal content-->
                        <div class="w3-container w3-animate-zoom" style="text-align:center; max-width:fit-content;">
                            <h4><b>시가총액을 기준으로 네이버 주식 데이터 스크래핑</b></h4>
                            <p>EasterEgg팀이 제공하는 모바일 정보제공과 관련한 본 프로젝트는 정보를 스크래핑하여 전처리하고 시각화하여 웹에 출력하는 일련의 과정으로 이루어집니다.</p>
                            <p>우리는 본 프로젝트를 수행하기 이전에 BeautifulSoup을 통해 스크래핑을 수행하였습니다.</p>
                            <p>
                                <a href='https://finance.naver.com/sise/sise_market_sum.nhn?&page=' target="_blank" style="font-family: 'Gowun Dodum';">Naver-Stock Tap</a>의 정보를 활용해 스크래핑을 진행하였으며 정확히는  페이지의 국내증시(코스피, 코스닥)에 상장된 회사들중 시가총액 기준 상위 회사들을 대상으로 [액면가, 시가총액, 상장주식수, 외국인비율, 거래량, PER, ROE]를 스크래핑하였습니다.
                            </p>
                            <p>관련 스크래핑 내용은 링크로 대체하며, 여러분은 언제나 Easter Egg팀과 소통할 수 있습니다.</p>
                            <p>
                                <a href="https://github.com/creamcheesesteak/Project_multi_A3/blob/master/scraping/naverstock_scraping.ipynb" target="_blank" style="font-family: 'Gowun Dodum';">1.스크래핑을 위한 코드 </a>
                                <a href="https://github.com/aidsfintech/devsacti-django-webservice/blob/master/devsacti_django/scraping/models.py" target="_blank" style="font-family: 'Gowun Dodum';">2.DB 저장을 위한 모델설정 </a>
                                <a href="https://github.com/aidsfintech/devsacti-django-webservice/blob/master/devsacti_django/scraping/views.py" target="_blank" style="font-family: 'Gowun Dodum';">3. DB 저장을 위한 과정</a>
                            </p>
                            <img src="./static/images/naver_stock.png" style="width:90%">
                            <br>
                        </div>
                        <div class="w3-container w3-grey w3-padding">
                             <button class="w3-btn w3-right w3-light-grey w3-border" onclick="document.getElementById('id03').style.display='none'" style="font-size: small;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>



    <!-- Team Section -->
    <div class="w3-container w3-large" style="padding:12vw 8vw;" id="team">
      <h1 class="w3-center">THE TEAM</h1>
      <h3 class="w3-center">The ones who runs this project</h3>
      <div class="w3-row-padding w3-grayscale" style="margin-top:12vw">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <div class="w3-container w3-center">
              <h2>TaeHyeok Im</h2>
                <h3 class="w3-opacity">TEAM LEADER</h3>
                <p>Project Management</p><p>Data Preprocessing</p>
              <h3><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/creamcheesesteak'"><i class="fa fa-envelope"></i> Contact</button></h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <div class="w3-container w3-center">
              <h2>Mio Seo</h2>
              <h3 class="w3-opacity">TEAM MEMBER</h3>
              <p>Web Design</p><p>Data Scraping </p>
              <h3><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/mmeooo'"><i class="fa fa-envelope"></i> Contact</button></h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <div class="w3-container w3-center">
              <h2>Solbi Choi</h2>
              <h3 class="w3-opacity">TEAM MEMBER</h3>
              <p>Data Visualization</p><p>Machine Learning</p>
              <h3><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/SolbiChoi'"><i class="fa fa-envelope"></i> Contact</button></h3>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <div class="w3-container w3-center">
              <h2>JeongHue Kim</h2>
              <h3 class="w3-opacity">TEAM MEMBER</h3>
              <p>Database Design</p><p>Machine Learning</p>
              <h3><button class="w3-button w3-light-grey w3-block" onclick="location.href='https://github.com/aidsfintech'"><i class="fa fa-envelope"></i> Contact</button></h3>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Contact Section -->
    <div class="w3-container w3-grey w3-large" style="padding:8vw 8vw;" id="contact">
      <h1 class="w3-center">CONTACT</h1>
      <h3 class="w3-center">Lets get in touch. Send us a message:</h3>
      <div style="margin-top:8vw">
        <h4><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Seoul, Korea</h4>
        <h4><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +00 151515</h4>
        <h4><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</h4>
        <br>
        <form action="/action_page.php" target="_blank">
          <h4><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></h4>
          <h4><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></h4>
          <h4><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></h4>
          <h4><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></h4>
          <h4>
            <button class="w3-button w3-black" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE</button>
          </h4>
        </form>
      </div>
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black" style="padding:1.5vw;">
      <a href="#service" class="w3-button" style="color:white; font-size:large;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    </footer>


   <script>

   // Get the modal
    var modal = document.getElementById('id01');
    var modal = document.getElementById('id02');
    var modal = document.getElementById('id03');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {modal.style.display = "none";} }



    function w3_open() {
      if (mySidebar.style.display == 'block') {
        mySidebar.style.display = 'none'; }
      else {
        mySidebar.style.display = 'block'; }
      }

     // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = 'none';
    }


    </script>
    </body>
</html>
